<nav>
  <ul class="nav masthead-nav">
    <li class="<%= linkActive == 'home' ? 'active' : '' %>"><a href="/">Home</a></li>
    <li class="<%= linkActive == 'sensors' ? 'active' : '' %>"><a href="/sensors">Sensors</a></li>
  </ul>
</nav>
